# Exclude Node.js dependencies
node_modules

# Exclude build output
dist

# Exclude Git files and folders
.git
.gitignore

# Exclude Docker configuration files
Dockerfile
docker-compose.yml

# Exclude log files
*.log

# Exclude environment variable files
.env

# Exclude this file
.dockerignore
